<!--<div class="first-line"-->
<!--layout="row"-->
<!--as-sortable-item-handle-->
<!--layout-align="space-between center"> -->
<div class="first-line">
  <button md-icon-button
          aria-label="is updated"
          tabindex="2"
          (click)="task.showNotes = !task.showNotes;"
          *ngIf="task.isUpdated">
    <!--<md-tooltip>-->
    <!--Click to show updates-->
    <!--</md-tooltip>-->
    <i class="material-icons update update-icon">update</i>
  </button>


  <i class="handle material-icons">drag_handle</i>


  <button md-icon-button
          class="play-btn"
          (click)="startTask(task.id)"
          aria-label="mark as current"
          tabindex="2"
          *ngIf="!task.isDone && !task.isCurrent && !task.subTasks">
    <i class="material-icons">play_circle_filled</i>
  </button>

  <button md-icon-button
          class="play-btn"
          (click)="pauseTask(task.id)"
          tabindex="2"
          *ngIf="!task.isDone && task.isCurrent && !task.subTasks">
    <i class="material-icons">pause_circle_filled</i>
  </button>


  <!--<button md-button-->
  <!--class="md-icon-button original-link-btn"-->
  <!--aria-label="link"-->
  <!--tabindex="2"-->
  <!--target="_blank"-->
  <!--external-link-->
  <!--*ngIf="task.originalLink"-->
  <!--ng-href="{{ task.originalLink }}">-->

  <!--<i icon="link"-->
  <!--*ngIf="task.originalType !=='GITHUB'"-->
  <!--aria-label="link"></i>-->
  <!--<i icon="github-circle"-->
  <!--*ngIf="task.originalType ==='GITHUB'"-->
  <!--aria-label="link"></i>-->
  <!--</button>-->

  <app-edit-on-click class="title"
                     [value]="task.title"
                     (editFinished)="updateTask(task.id, $event.newVal)"
                     tabindex="2"></app-edit-on-click>

  <div class="time">
    <!--<span *ngIf="task.subTasks.length>0">∑</span>-->
    <!--<span [innerHtml]="(task.timeSpent|duration) +' / ' + (task.timeEstimate|duration)"></span>-->
  </div>

  <div class="controls">
    <button md-icon-button
            tabindex="2"
            [disabled]="task.subTasks && task.subTasks.length>0"
            aria-label="time estimation"
            (click)="estimateTime(task)">

      <i class="material-icons"
         aria-label="time estimation">access_time</i>
    </button>
    <button md-icon-button
            aria-label="add sub task"
            *ngIf="!task.parentId&&!task.isDone"
            tabindex="2"
            (click)="addSubTask(task, $event);">

      <i class="material-icons"
         aria-label="add sub task">playlist_add</i>
    </button>
    <button md-icon-button
            aria-label="notes"
            tabindex="2"
            [class.is-active]="task.showNotes"
            (click)="task.showNotes=!task.showNotes">

      <i class="material-icons"
         *ngIf="task.notes||task.originalKey"
         aria-label="notes">insert_comment</i>
      <i class="material-icons"
         *ngIf="!task.notes&&!task.originalKey">mode_comment</i>
    </button>
    <button md-icon-button
            aria-label="delete"
            tabindex="2"
            (click)="deleteTask(task.id)">

      <i class="material-icons delete-icon"
         aria-label="delete">delete_forever</i>
    </button>
    <md-checkbox [(ngModel)]="task.isDone"
                 tabindex="2"
                 (ngModelChange)="onTaskDoneChanged(task)"
                 aria-label="un-/mark as done"
                 ngDefaultControl>
    </md-checkbox>
  </div>
</div>

<!--<md-progress-linear md-mode="determinate"-->
<!--value="{{task.progress}}"></md-progress-linear>-->


<!--<div class="notes"-->
<!--*ngIf="task.showNotes===true">-->

<!--<section *ngIf="task.isUpdated;">-->
<!--<div class="md-caption">-->
<!--Changes since last update-->
<!--</div>-->

<!--&lt;!&ndash;<ul class="changelog">&ndash;&gt;-->
<!--&lt;!&ndash;<li *ngFor="let changelogEntry of task.originalChangelog">&ndash;&gt;-->
<!--&lt;!&ndash;<div *ngIf="changelogEntry.author">&ndash;&gt;-->
<!--&lt;!&ndash;<em>[<span [innerHtml]="changelogEntry.author"></span>]&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;<span [innerHtml]="changelogEntry.created| amDateFormat:'Y.MM.DD HH:mm'"></span></em>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div *ngFor="let change of changelogEntry.items">&ndash;&gt;-->
<!--&lt;!&ndash;<strong [innerHtml]="change.field"></strong>&ndash;&gt;-->
<!--&lt;!&ndash;<span *ngIf="change.toString.length"><em>changed to:</em> <span [innerHtml]="change.toString"></span></span></span>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</li>&ndash;&gt;-->
<!--&lt;!&ndash;</ul>&ndash;&gt;-->
<!--<button md-raised-button-->
<!--(click)="task.isUpdated=false;task.originalChangelog=undefined;task.showNotes=false">-->
<!--<i class="material-icons">delete</i>-->
<!--Hide changes-->
<!--</button>-->
<!--</section>-->

<!--<section>-->
<!--<div class="md-caption"-->
<!--[innerHtml]="task.originalId ? 'Description': 'Notes'"></div>-->
<!--<div md-whiteframe="4">-->
<!--<inline-markdown ng-model="task.notes"-->
<!--on-changed="onTaskNotesChanged(newVal, task)"></inline-markdown>-->
<!--</div>-->
<!--</section>-->

<!--<section *ngIf="task.status.length > 0 || task.originalStatus.length > 0"-->
<!--class="status">-->
<!--<div class="md-caption">Status: <span [innerHtml]="task.originalStatus.name || task.originalStatus"></span>-->
<!--<i icon="arrow_forward"-->
<!--*ngIf="task.status.length > 0"-->
<!--aria-label="arrow forward"></i>-->
<!--<span [innerHtml]="task.status"></span>-->
<!--</div>-->
<!--</section>-->

<!--<section *ngIf="task.originalAssigneeKey"-->
<!--class="assignee">-->
<!--<div class="md-caption">Assignee: <span [innerHtml]="task.originalAssigneeKey"></span></div>-->
<!--</section>-->

<!--<section *ngIf="task.originalAttachment.length > 0">-->
<!--<collapsible title="Attachments ({{ task.originalAttachment.length }})">-->
<!--<ul class="attachments">-->
<!--<li ng-repeat="attachment in task.originalAttachment">-->
<!--<a href="{{ attachment}}"-->
<!--external-link-->
<!--target="_blank"-->
<!--class="md-accent">{{ attachment}}</a>-->
<!--<a href="{{ attachment}}"-->
<!--download="{{ attachment}}"-->
<!--class="md-accent">-->
<!--<i icon="file_download"-->
<!--aria-label="download file directly"></i>-->
<!--</a>-->
<!--</li>-->
<!--</ul>-->
<!--</collapsible>-->
<!--</section>-->

<!--<section *ngIf="task.originalComments.length > 0">-->
<!--<collapsible title="Comments ({{ task.originalComments.length }})">-->
<!--<md-divider></md-divider>-->
<!--<ul class="comments">-->
<!--<li ng-repeat="comment in task.originalComments"-->
<!--class="comment">-->
<!--<strong class="author">[<span [innerHtml]="comment.author"></span>]: </strong>-->
<!--<span marked="comment.body"></span>-->
<!--</li>-->
<!--</ul>-->
<!--</collapsible>-->
<!--</section>-->

<!--</div>-->

<!--<sub-task-list ng-if="task.subTasks.length > 0"-->
<!--allow-task-selection="{{$ctrl.allowTaskSelection}}"-->
<!--current-task-id="$ctrl.currentTaskId"-->
<!--task="task"></sub-task-list>-->
<div class="sub-tasks"
     *ngIf="task.subTasks"
     [dragula]="task.id"
     [dragulaModel]="task.subTasks">
  <app-task *ngFor="let task of task.subTasks; let i = index;"
            [task]="task">
  </app-task>
</div>