<h2 md-dialog-title>Make an estimate / adjust time spent</h2>
<md-dialog-content>
  <form (submit)="submit(timeEstimate, timeSpent)"
        class="mat-body"
        name="time-estimate-form">

    <md-icon>timer</md-icon>

    <md-input-container>
      <input mdInput
             placeholder="Estimated Duration"
             input-duration
             name="estimate"
             [ngModel]="timeEstimate">
    </md-input-container>
    <h3 class="md-caption">Time Spent</h3>

    <md-icon>timer</md-icon>

    <md-input-container>
      <input mdInput
             placeholder="Time Spent Today"
             type="text"
             input-duration="optional"
             name="timeSpendToday"
             [ngModel]="timeSpentOnDayCopy[todayStr]">
    </md-input-container>


    <div layout="row"
         ng-repeat="(strDate,timeSpent) in timeSpentOnDayCopy"
         *ngIf="todayStr !== strDate">
      <div flex>
        <md-icon>timer</md-icon>
        <md-input-container class="md-icon-float md-block">
          <input mdInput
                 placeholder="Time Spent on +strDate+"
                 type="text"
                 input-duration="optional"
                 name="timeSpentToday"
                 [ngModel]="timeSpentOnDayCopy[strDate]"
                 aria-label="Time Spent">
        </md-input-container>
      </div>
      <div flex="20">
        <button md-icon-button
                (click)="deleteValue(strDate)">
          <md-icon>delete_forever</md-icon>
        </button>
      </div>
    </div>

    <button type="button"
            md-mini-fab
            aria-label="add for another day"
            [hidden]="showAddForAnotherDayForm"
            (click)="showAddForAnotherDayForm = true;">
      <md-icon>add</md-icon>
    </button>
    <button type="submit"
            style="width: 0;height: 0; font-size: 0;border: 0;background: transparent;"
            tabindex="-1"></button>
  </form>


  <form name="addForAnotherDayForm"
        *ngIf="showAddForAnotherDayForm"
        (submit)="addNewEntry(newEntry)">
    <h3 class="md-caption">Add new entry <span ng-bind="newEntry.date|amDateFormat:'DD-MM-YYYY'"></span></h3>
    <md-icon>event</md-icon>

    <md-input-container>

      <input mdInput
             placeholder="Date for new entry"
             type="date"
             [ngModel]="newEntry.date"
             required
             name="date">
      <div class="validation-messages"
           ng-messages="addForAnotherDayForm.date.$error">
        <div ng-message="valid">The entered value is not a date!</div>
        <div ng-message="required">This date is required!</div>
      </div>
    </md-input-container>

    <md-icon>timer</md-icon>

    <md-input-container>
      <label>Time Spent on <span ng-bind="newEntry.date|amDateFormat:'DD-MM-YYYY'"></span></label>
      <input mdInput
             placeholder="AAAA"
             type="text"
             name="timeSpentNew"
             input-duration="optional"
             [ngModel]="newEntry.timeSpent"
             aria-label="Time Spent for new entry">
    </md-input-container>

    <button class="md-raised"
            type="submit">
      <i icon="add"></i>
      Add
    </button>
  </form>


  <div class="side-info">
    Examples:<br>
    30m => 30 minutes<br>
    2h => 2 hours<br>
    2h 30m => 2 hours and 30 minutes
  </div>

</md-dialog-content>
<md-dialog-actions>
  <button md-raised-button
          md-dialog-close>Save
  </button>
  <!-- Can optionally provide a result for the closing dialog. -->
  <button md-raised-button
          [md-dialog-close]="true">Cancel
  </button>
</md-dialog-actions>

