<h2 mat-dialog-title>Make an estimate / adjust time spent</h2>
<mat-dialog-content>
  <form (submit)="submit()"
        class="mat-body"
        name="time-estimate-form">

    <mat-icon>timer</mat-icon>

    <mat-input-container>
      <input matInput
             placeholder="Estimated Duration"
             supInputDuration
             name="estimate"
             [(ngModel)]="taskCopy.timeEstimate">
    </mat-input-container>
    <h3 class="mat-caption">Time Spent {{taskCopy.timeEstimate}} --- {{timeSpentOnDayCopy[todayStr]}}</h3>

    <mat-icon>timer</mat-icon>

    <mat-input-container>
      <input matInput
             placeholder="Time Spent Today"
             type="text"
             supInputDuration="optional"
             name="taskCopy.timeSpendToday"
             [(ngModel)]="timeSpentOnDayCopy[todayStr]">
    </mat-input-container>


    <!--<div layout="row"-->
         <!--ng-repeat="(strDate,timeSpent) in timeSpentOnDayCopy"-->
         <!--*ngIf="todayStr !== strDate">-->
      <!--<div flex>-->
        <!--<mat-icon>timer</mat-icon>-->
        <!--<mat-input-container class="mat-icon-float mat-block">-->
          <!--<input matInput-->
                 <!--placeholder="Time Spent on +strDate+"-->
                 <!--type="text"-->
                 <!--supInputDuration="optional"-->
                 <!--name="timeSpentToday"-->
                 <!--[ngModel]="timeSpentOnDayCopy[strDate]"-->
                 <!--aria-label="Time Spent">-->
        <!--</mat-input-container>-->
      <!--</div>-->
      <!--<div flex="20">-->
        <!--<button mat-icon-button-->
                <!--(click)="deleteValue(strDate)">-->
          <!--<mat-icon>delete_forever</mat-icon>-->
        <!--</button>-->
      <!--</div>-->
    <!--</div>-->

    <!--<button type="button"-->
            <!--mat-mini-fab-->
            <!--aria-label="add for another day"-->
            <!--[hidden]="showAddForAnotherDayForm"-->
            <!--(click)="showAddForAnotherDayForm = true;">-->
      <!--<mat-icon>add</mat-icon>-->
    <!--</button>-->
    <!--<button type="submit"-->
            <!--style="width: 0;height: 0; font-size: 0;border: 0;background: transparent;"-->
            <!--tabindex="-1"></button>-->
  </form>


  <form name="addForAnotherDayForm"
        *ngIf="showAddForAnotherDayForm"
        (submit)="addNewEntry(newEntry)">
    <h3 class="mat-caption">Add new entry <span ng-bind="newEntry.date|amDateFormat:'DD-MM-YYYY'"></span></h3>
    <mat-icon>event</mat-icon>

    <mat-input-container>

      <input matInput
             placeholder="Date for new entry"
             type="date"
             [ngModel]="newEntry.date"
             required
             name="date">
      <div class="validation-messages"
           ng-messages="addForAnotherDayForm.date.$error">
        <div ng-message="valid">The entered value is not a date!</div>
        <div ng-message="required">This date is required!</div>
      </div>
    </mat-input-container>

    <mat-icon>timer</mat-icon>

    <mat-input-container>
      <label>Time Spent on <span ng-bind="newEntry.date|amDateFormat:'DD-MM-YYYY'"></span></label>
      <input matInput
             placeholder="AAAA"
             type="text"
             name="timeSpentNew"
             [(ngModel)]="newEntry.timeSpent"
             aria-label="Time Spent for new entry">
    </mat-input-container>

    <button class="mat-raised"
            type="submit">
      <i icon="add"></i>
      Add
    </button>
  </form>


  <div class="side-info">
    Examples:<br>
    30m => 30 minutes<br>
    2h => 2 hours<br>
    2h 30m => 2 hours and 30 minutes
  </div>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button
          (click)="submit()"
          mat-dialog-close>Save
  </button>
  <!-- Can optionally provide a result for the closing dialog. -->
  <button mat-raised-button
          [mat-dialog-close]="true">Cancel
  </button>
</mat-dialog-actions>

