<!--<router-outlet></router-outlet>-->

<input placeholder="your task" [(ngModel)]="taskTitle">
{{editing}}

<button
  (click)="addTask(taskTitle)"
  [disabled]="!taskTitle"
  *ngIf="!editing">
  Add task
</button>

<button
  (click)="updateTask(idToEdit,taskTitle)"
  *ngIf="editing">
  Update
</button>
<button
  (click)="cancelEdit()"
  *ngIf="editing">
  Cancel
</button>


<ul>
  <li *ngFor="let task of tasks$ | async; let i = index;">
    <span [class.done]="task.done">{{ task.title }}</span>
    <span>{{task|json}}</span>
    <button (click)="editTask(task, task.id)">Edit</button>
    <button (click)="toggleDone(task, task.id)">Toggle Done</button>
    <button (click)="deleteTask(task.id)">X</button>
  </li>
</ul>
